* {
    box-sizing: border-box;
}

body,
html {
    font-family: sans-serif;
    font-size: 1.1em;
    line-height: 1.5;
    text-align: center;
}

/***** Header content *****/
.main-header {
    background: #fff;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .1);
}

.main-nav__logo {
    margin: 0 0 -10px;
}

.main-nav__list {
    margin: 0;
    padding: 0;
}

.main-nav__item {}

.main-nav__link {
    font-size: 0.75em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #343534;
    text-decoration: none;
}

/***** Main content *****/

/**** Sidebars *****/
.sidebars {
    padding: 20px;
    color: #FFF;
    background: #F34A4E;
}

.sidebar-1 {}

.sidebar-1__list {
    list-style-type: none;
    cursor: pointer;
}

.sidebar-1__item:hover{
    text-decoration: underline;
}

/***** Footer content *****/
.footer {
    background: #FED0D1;
    color: #777;
    padding: 0px;
    margin: 0px;
}