/* layout CSS */
* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 1.1em;
    text-align: center;
    color: #FFF;
    line-height: 1.5;
}

.r1-sidebar,
.reto1-content {
    padding: 20px;
}

.reto1 footer {
    background: #FED0D1;
    color: #777;
}

.r1-sidebar {
    background: #F34A4E;
}

.reto1-sidebar-1 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    ;
}

.reto1-content {
    color: #777;
}

/* HEADER CSS */
.main-header {
    background: #FFF;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .1);
}

.mh-logo {
    margin: 0 0 -10px;
}

.main-nav a {
    font-size: 0.75em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #343534;
    text-decoration: none;
}

.main-nav ul {
    margin: 0;
    padding: 0;
}

/* ARTICLES CSS */
.article-content {
    text-align: justify;
}

.article-content footer {
    background: #FFF;

}

/**
 * Flex things:
 * — Mobile first
 * — Responsive
 */
.reto1 {
    min-height: 100vh;
}

.reto1,
.reto1-body {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
}

.reto1-content {
    flex: 1 1 auto;
}

@media (min-width: 798px) {
    .reto1-sidebar-1 {
        order: -1;
    }

    .reto1-body {
        flex-direction: row;

    }

    .r1-sidebar {
        flex: 0 0 260px;
    }

    .main-header .container {
        justify-content: space-between;
    }
}

@media (min-width:1550px) {
    .reto1-body {
        max-width: 138vh;
        margin: auto
    }
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    width: 960px;
    max-width: 100%;
    margin: 0 auto;
}

.main-header .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.main-nav ul {
    margin: 1em 0 .5em;
    text-align: center;
}

.main-nav li {
    display: inline;
}

.main-nav a {
    display: inline-block;
    padding: .5em 1.5em;
}